# Import necessary packages

In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from random import sample

import re

from sklearn.metrics import mean_absolute_error, mean_squared_error

from timeit import default_timer as timer

# Import original data and preprocessed data

In [2]:
INPUT_DIR = r'C:\Users\ASUS\Desktop\Academic Work\Academic Research\DEMAND PATTERN\M5 Forecasting\Estimate the unit sales of Walmart retail goods\m5-forecasting-accuracy_unzip files'
sales_train_val = pd.read_csv(f'{INPUT_DIR}/sales_train_validation.csv')
calendar = pd.read_csv(f'{INPUT_DIR}/calendar.csv')

### Note: This Step is for the extraction of California State and Foods category

In [3]:
sales_train_val = sales_train_val[(sales_train_val['state_id'] == 'CA') & (sales_train_val['cat_id'] == 'FOODS')]

In [4]:
INPUT_DIR_2 = r'C:\Users\ASUS\Desktop\Academic Work\Academic Research\DEMAND PATTERN\CRUNCH TIME (WEEKLY AGGREGATION)\California\Foods\Demand Pattern Categorization'
list_intermittent = pd.read_csv(f'{INPUT_DIR_2}/Intermittent_ID.csv')
list_lumpy = pd.read_csv(f'{INPUT_DIR_2}/Lumpy_ID.csv')
list_erratic = pd.read_csv(f'{INPUT_DIR_2}/Erratic_ID.csv')
list_smooth = pd.read_csv(f'{INPUT_DIR_2}/Smooth_ID.csv')

list_intermittent = list_intermittent['0'].values.tolist()
list_lumpy = list_lumpy['0'].values.tolist()
list_erratic = list_erratic['0'].values.tolist()
list_smooth = list_smooth['0'].values.tolist()

sales_intermittent = sales_train_val[sales_train_val.id.isin(list_intermittent)]
sales_lumpy = sales_train_val[sales_train_val.id.isin(list_lumpy)]
sales_erratic = sales_train_val[sales_train_val.id.isin(list_erratic)]
sales_smooth = sales_train_val[sales_train_val.id.isin(list_smooth)]

**Check by looking at column "id" to verify if we choose the right product (FOODS or HOBBIES or HOUSEHOLD)**

In [6]:
sales_lumpy

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
1616,FOODS_1_005_CA_1_validation,FOODS_1_005,FOODS_1,FOODS,CA_1,CA,3,9,3,3,...,3,1,1,2,0,2,2,1,4,1
1625,FOODS_1_015_CA_1_validation,FOODS_1_015,FOODS_1,FOODS,CA_1,CA,0,0,0,0,...,0,1,1,0,2,0,1,2,2,0
1637,FOODS_1_027_CA_1_validation,FOODS_1_027,FOODS_1,FOODS,CA_1,CA,0,0,0,0,...,5,4,2,3,1,0,2,1,3,3
1638,FOODS_1_028_CA_1_validation,FOODS_1_028,FOODS_1,FOODS,CA_1,CA,0,0,0,0,...,1,5,4,2,1,1,1,3,0,0
1640,FOODS_1_030_CA_1_validation,FOODS_1_030,FOODS_1,FOODS,CA_1,CA,0,0,0,0,...,0,2,0,0,1,1,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12147,FOODS_3_779_CA_4_validation,FOODS_3_779,FOODS_3,FOODS,CA_4,CA,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12155,FOODS_3_787_CA_4_validation,FOODS_3_787,FOODS_3,FOODS,CA_4,CA,0,0,0,0,...,0,0,2,2,1,0,1,0,0,3
12168,FOODS_3_800_CA_4_validation,FOODS_3_800,FOODS_3,FOODS,CA_4,CA,1,2,4,2,...,0,3,2,3,1,1,2,1,2,2
12183,FOODS_3_815_CA_4_validation,FOODS_3_815,FOODS_3,FOODS,CA_4,CA,0,0,0,0,...,0,1,0,2,0,0,0,0,0,0
12195,FOODS_3_827_CA_4_validation,FOODS_3_827,FOODS_3,FOODS,CA_4,CA,0,0,0,0,...,0,0,0,0,2,0,4,4,4,8

# User-defined functions to calculate Metrics and Algorithm

In [7]:
ROUNDING_DECIMAL = 4

def mase_calculation(ts, prediction):
    divisor = 0
    for i in range(1, ts.shape[0]):
        divisor = divisor + abs(ts.iloc[i] - ts.iloc[i-1])
    divisor = divisor/(ts.shape[0] - 1)
    diff    = abs(ts - prediction[:ts.shape[0]])/divisor
    mase    = diff.mean()
    return mase

def mape_calculation(actual, pred): 
    if not all([isinstance(actual, np.ndarray), isinstance(pred, np.ndarray)]):
        actual, pred = np.array(actual), np.array(pred)
    mask = (actual != 0)
    return round((np.fabs(actual - pred)/actual)[mask].mean()*100, ROUNDING_DECIMAL)

def wmape_calculation(actual, pred):
    if not all([isinstance(actual, np.ndarray), isinstance(pred, np.ndarray)]):
        actual, pred = np.array(actual), np.array(pred)
    return round((np.sum(np.absolute(actual-pred))/np.sum(actual))*100, ROUNDING_DECIMAL)

def smape_calculation(actual, predicted):
    if not all([isinstance(actual, np.ndarray), isinstance(predicted, np.ndarray)]):
        actual, predicted = np.array(actual), np.array(predicted)
    return round(np.mean(np.abs(predicted - actual) / ((np.abs(predicted) + np.abs(actual))/2))*100, ROUNDING_DECIMAL)

In [8]:
def Croston_TSB(ts,extra_periods=1,alpha=0.4,beta=0.4):
    d = np.array(ts) # Transform the input into a numpy array
    cols = len(d) # Historical period length
    d = np.append(d,[np.nan]*extra_periods) # Append np.nan into the demand array to cover future periods
    
    #level (a), probability(p) and forecast (f)
    a,p,f = np.full((3,cols+extra_periods),np.nan)
# Initialization
    first_occurence = np.argmax(d[:cols]>0)
    a[0] = d[first_occurence]
    p[0] = 1/(1 + first_occurence)
    f[0] = p[0]*a[0]
                 
    # Create all the t+1 forecasts
    for t in range(0,cols): 
        if d[t] > 0:
            a[t+1] = alpha*d[t] + (1-alpha)*a[t] 
            p[t+1] = beta*(1) + (1-beta)*p[t]  
        else:
            a[t+1] = a[t]
            p[t+1] = (1-beta)*p[t]       
        f[t+1] = p[t+1]*a[t+1]
        
    # Future Forecast
    a[cols+1:cols+extra_periods] = a[cols]
    p[cols+1:cols+extra_periods] = p[cols]
    f[cols+1:cols+extra_periods] = f[cols]
                      
    df = pd.DataFrame.from_dict({"Demand":d,"Forecast":f,"Period":p,"Level":a,"Error":d-f})
    return df

# Format sales data and then merge with calendar data

In [9]:
sales_pattern = sales_lumpy.copy()

In [10]:
sales_pattern_py = sales_pattern.copy()

list_pattern_py = sales_pattern_py.id.unique().tolist()
list_pattern_py = [(re.sub(r'_validation', r"", x)) for x in list_pattern_py]

sales_pattern_py = sales_pattern_py.drop(['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], axis=1)
df_pattern = sales_pattern_py.melt(['id'], var_name='Date').pivot(index = ['Date'], columns = 'id', values = 'value').reset_index()
df_pattern.drop('Date', axis=1, inplace=True)
df_pattern.index = pd.date_range('2011-01-29', periods=df_pattern.shape[0], freq="D")
df_pattern.index.names = ['Date']
df_pattern = df_pattern.astype('float64')

df_pattern.iloc[:, 1:].columns = df_pattern.iloc[:, 1:].columns.str.rstrip('_validation')
df_pattern.columns = df_pattern.columns.str.replace(r'_validation', '')
df_pattern.reset_index(inplace=True)

calendar['Date'] = pd.to_datetime(calendar['date'])

dataframe = pd.merge(df_pattern,
                     calendar[['wm_yr_wk', 'Date']],
                     on = 'Date')

not_enough_seven_days = dataframe.groupby('wm_yr_wk').agg({'Date': 'count'})[dataframe.groupby('wm_yr_wk').agg({'Date': 'count'})['Date'] < 7].index.tolist()
dataframe = dataframe[~dataframe['wm_yr_wk'].isin(not_enough_seven_days)]

dataframe.set_index('wm_yr_wk', inplace=True)

dataframe.drop('Date', axis=1, inplace=True)

dataframe_weekly = dataframe.groupby('wm_yr_wk').sum().reset_index()

In [13]:
start_train_week = 11318
end_train_week = 11610
n_pred_weeks = 2
num_train_needed = 100
validation_training_ratio = 0.95
num_id_sample_for_tuning = 200

In [14]:
list_params_alpha = [round(item, 2) for item in list(np.arange(0.05, 0.95, 0.05))]
list_params_beta = [round(item, 2) for item in list(np.arange(0.05, 0.95, 0.05))]

In [15]:
len(list_pattern_py)

395

In [16]:
sample_list = sample(list_pattern_py, num_id_sample_for_tuning)

dataframe_check = dataframe_weekly[sample_list].iloc[-10:-2, :].T
dataframe_check['Check'] = np.where((dataframe_check==0).all(axis=1), 1, 0)

sample_removed = dataframe_check[dataframe_check['Check'] == 1].index.tolist()
sample_list_filtered = [x for x in sample_list if (x not in sample_removed)]

In [17]:
len(sample_list_filtered)

134

# Hyperparameter tuning for Croston TSB

In [18]:
train_data = dataframe_weekly[(dataframe_weekly['wm_yr_wk'] >= start_train_week) & (dataframe_weekly['wm_yr_wk'] <= end_train_week)]
test_data = dataframe_weekly.iloc[n_pred_weeks*-1:]

train_data_first_part = train_data.iloc[:int(len(train_data)*validation_training_ratio), :]
train_data_second_part = train_data.iloc[int(len(train_data)*validation_training_ratio):, :]

In [19]:
start = timer()

df_result_all_params = pd.DataFrame()

for product in sample_list_filtered:
    
    print('Currently Running: %s' % product)
    print('Progressing: {0} %'.format(round(sample_list_filtered.index(product) / len(sample_list_filtered) * 100, 2)))

    train_first = train_data_first_part[product]
    train_second = train_data_second_part[product]
    
    for i in list_params_alpha:
        for j in list_params_beta:
            predictions = list()
            history = [x for x in train_first[num_train_needed*-1:]]
            for t in train_second.index.tolist():
                yhat = Croston_TSB(history, extra_periods=1, alpha = i, beta = j)['Forecast'].iloc[-1]
                predictions.append(yhat)
                history.append(train_second[t])
            df_result_temp = pd.DataFrame({'Product': [product for count in range(len(train_second))],
                                           'Actual Data': train_second,
                                           'Forecast': predictions,
                                           'Alpha': [i for count_i in range(len(train_second))],
                                           'Beta': [j for count_j in range(len(train_second))]})
            df_result_all_params = df_result_all_params.append(df_result_temp, ignore_index=True)    
            
end = timer()
print('This line of code took {} minutes'.format((end-start) / 60))

Currently Running: FOODS_3_470_CA_4
Progressing: 0.0 %
Currently Running: FOODS_3_379_CA_3
Progressing: 0.75 %
Currently Running: FOODS_1_113_CA_3
Progressing: 1.49 %
Currently Running: FOODS_3_240_CA_4
Progressing: 2.24 %
Currently Running: FOODS_3_093_CA_1
Progressing: 2.99 %
Currently Running: FOODS_3_204_CA_2
Progressing: 3.73 %
Currently Running: FOODS_3_463_CA_4
Progressing: 4.48 %
Currently Running: FOODS_2_336_CA_3
Progressing: 5.22 %
Currently Running: FOODS_3_772_CA_2
Progressing: 5.97 %
Currently Running: FOODS_2_169_CA_1
Progressing: 6.72 %
Currently Running: FOODS_3_779_CA_2
Progressing: 7.46 %
Currently Running: FOODS_3_120_CA_4
Progressing: 8.21 %
Currently Running: FOODS_3_611_CA_2
Progressing: 8.96 %
Currently Running: FOODS_3_117_CA_1
Progressing: 9.7 %
Currently Running: FOODS_3_345_CA_3
Progressing: 10.45 %
Currently Running: FOODS_3_027_CA_3
Progressing: 11.19 %
Currently Running: FOODS_1_028_CA_1
Progressing: 11.94 %
Currently Running: FOODS_2_380_CA_1
Progressing: 12.69 %
Currently Running: FOODS_1_189_CA_1
Progressing: 13.43 %
Currently Running: FOODS_3_825_CA_2
Progressing: 14.18 %
Currently Running: FOODS_2_251_CA_1
Progressing: 14.93 %
Currently Running: FOODS_2_087_CA_1
Progressing: 15.67 %
Currently Running: FOODS_1_101_CA_3
Progressing: 16.42 %
Currently Running: FOODS_3_464_CA_1
Progressing: 17.16 %
Currently Running: FOODS_3_375_CA_2
Progressing: 17.91 %
Currently Running: FOODS_3_093_CA_3
Progressing: 18.66 %
Currently Running: FOODS_2_208_CA_3
Progressing: 19.4 %
Currently Running: FOODS_3_442_CA_2
Progressing: 20.15 %
Currently Running: FOODS_2_077_CA_3
Progressing: 20.9 %
Currently Running: FOODS_3_267_CA_1
Progressing: 21.64 %
Currently Running: FOODS_1_151_CA_1
Progressing: 22.39 %
Currently Running: FOODS_1_037_CA_1
Progressing: 23.13 %
Currently Running: FOODS_3_816_CA_2
Progressing: 23.88 %
Currently Running: FOODS_2_399_CA_2
Progressing: 24.63 %
Currently Running: FOODS_3_483_CA_1
Progressing: 25.37 %
Currently Running: FOODS_2_163_CA_4
Progressing: 26.12 %
Currently Running: FOODS_1_084_CA_3
Progressing: 26.87 %
Currently Running: FOODS_1_176_CA_4
Progressing: 27.61 %
Currently Running: FOODS_3_567_CA_1
Progressing: 28.36 %
Currently Running: FOODS_3_564_CA_3
Progressing: 29.1 %
Currently Running: FOODS_3_117_CA_2
Progressing: 29.85 %
Currently Running: FOODS_3_347_CA_1
Progressing: 30.6 %
Currently Running: FOODS_3_463_CA_2
Progressing: 31.34 %
Currently Running: FOODS_3_522_CA_3
Progressing: 32.09 %
Currently Running: FOODS_1_032_CA_2
Progressing: 32.84 %
Currently Running: FOODS_3_421_CA_2
Progressing: 33.58 %
Currently Running: FOODS_3_143_CA_3
Progressing: 34.33 %
Currently Running: FOODS_3_332_CA_2
Progressing: 35.07 %
Currently Running: FOODS_3_102_CA_2
Progressing: 35.82 %
Currently Running: FOODS_2_370_CA_4
Progressing: 36.57 %
Currently Running: FOODS_1_180_CA_4
Progressing: 37.31 %
Currently Running: FOODS_3_213_CA_1
Progressing: 38.06 %
Currently Running: FOODS_3_315_CA_4
Progressing: 38.81 %
Currently Running: FOODS_2_231_CA_2
Progressing: 39.55 %
Currently Running: FOODS_1_030_CA_1
Progressing: 40.3 %
Currently Running: FOODS_2_048_CA_3
Progressing: 41.04 %
Currently Running: FOODS_1_015_CA_1
Progressing: 41.79 %
Currently Running: FOODS_3_360_CA_3
Progressing: 42.54 %
Currently Running: FOODS_2_012_CA_4
Progressing: 43.28 %
Currently Running: FOODS_2_198_CA_4
Progressing: 44.03 %
Currently Running: FOODS_3_213_CA_3
Progressing: 44.78 %
Currently Running: FOODS_1_204_CA_4
Progressing: 45.52 %
Currently Running: FOODS_3_800_CA_4
Progressing: 46.27 %
Currently Running: FOODS_1_176_CA_3
Progressing: 47.01 %
Currently Running: FOODS_1_176_CA_1
Progressing: 47.76 %
Currently Running: FOODS_1_035_CA_4
Progressing: 48.51 %
Currently Running: FOODS_2_273_CA_3
Progressing: 49.25 %
Currently Running: FOODS_3_806_CA_3
Progressing: 50.0 %
Currently Running: FOODS_3_664_CA_2
Progressing: 50.75 %
Currently Running: FOODS_3_241_CA_1
Progressing: 51.49 %
Currently Running: FOODS_2_260_CA_4
Progressing: 52.24 %
Currently Running: FOODS_3_569_CA_2
Progressing: 52.99 %
Currently Running: FOODS_1_113_CA_2
Progressing: 53.73 %
Currently Running: FOODS_3_243_CA_4
Progressing: 54.48 %
Currently Running: FOODS_3_360_CA_2
Progressing: 55.22 %
Currently Running: FOODS_2_005_CA_1
Progressing: 55.97 %
Currently Running: FOODS_1_189_CA_3
Progressing: 56.72 %
Currently Running: FOODS_3_548_CA_3
Progressing: 57.46 %
Currently Running: FOODS_3_196_CA_2
Progressing: 58.21 %
Currently Running: FOODS_2_133_CA_4
Progressing: 58.96 %
Currently Running: FOODS_2_236_CA_3
Progressing: 59.7 %
Currently Running: FOODS_1_123_CA_4
Progressing: 60.45 %
Currently Running: FOODS_3_630_CA_2
Progressing: 61.19 %
Currently Running: FOODS_2_027_CA_4
Progressing: 61.94 %
Currently Running: FOODS_3_611_CA_1
Progressing: 62.69 %
Currently Running: FOODS_1_075_CA_2
Progressing: 63.43 %
Currently Running: FOODS_1_030_CA_2
Progressing: 64.18 %
Currently Running: FOODS_1_211_CA_4
Progressing: 64.93 %
Currently Running: FOODS_3_397_CA_2
Progressing: 65.67 %
Currently Running: FOODS_1_069_CA_3
Progressing: 66.42 %
Currently Running: FOODS_3_824_CA_3
Progressing: 67.16 %
Currently Running: FOODS_3_736_CA_2
Progressing: 67.91 %
Currently Running: FOODS_2_229_CA_3
Progressing: 68.66 %
Currently Running: FOODS_1_084_CA_2
Progressing: 69.4 %
Currently Running: FOODS_3_787_CA_4
Progressing: 70.15 %
Currently Running: FOODS_3_806_CA_1
Progressing: 70.9 %
Currently Running: FOODS_3_391_CA_1
Progressing: 71.64 %
Currently Running: FOODS_3_318_CA_1
Progressing: 72.39 %
Currently Running: FOODS_1_010_CA_4
Progressing: 73.13 %
Currently Running: FOODS_3_443_CA_2
Progressing: 73.88 %
Currently Running: FOODS_3_056_CA_2
Progressing: 74.63 %
Currently Running: FOODS_3_373_CA_4
Progressing: 75.37 %
Currently Running: FOODS_2_236_CA_4
Progressing: 76.12 %
Currently Running: FOODS_1_075_CA_4
Progressing: 76.87 %
Currently Running: FOODS_2_067_CA_3
Progressing: 77.61 %
Currently Running: FOODS_3_749_CA_4
Progressing: 78.36 %
Currently Running: FOODS_1_157_CA_4
Progressing: 79.1 %
Currently Running: FOODS_3_138_CA_2
Progressing: 79.85 %
Currently Running: FOODS_2_302_CA_3
Progressing: 80.6 %
Currently Running: FOODS_3_784_CA_1
Progressing: 81.34 %
Currently Running: FOODS_3_590_CA_2
Progressing: 82.09 %
Currently Running: FOODS_3_442_CA_4
Progressing: 82.84 %
Currently Running: FOODS_3_175_CA_2
Progressing: 83.58 %
Currently Running: FOODS_3_349_CA_2
Progressing: 84.33 %
Currently Running: FOODS_3_293_CA_2
Progressing: 85.07 %
Currently Running: FOODS_3_315_CA_1
Progressing: 85.82 %
Currently Running: FOODS_3_736_CA_1
Progressing: 86.57 %
Currently Running: FOODS_1_015_CA_3
Progressing: 87.31 %
Currently Running: FOODS_3_378_CA_2
Progressing: 88.06 %
Currently Running: FOODS_3_664_CA_3
Progressing: 88.81 %
Currently Running: FOODS_3_008_CA_1
Progressing: 89.55 %
Currently Running: FOODS_2_048_CA_1
Progressing: 90.3 %
Currently Running: FOODS_3_443_CA_1
Progressing: 91.04 %
Currently Running: FOODS_2_125_CA_4
Progressing: 91.79 %
Currently Running: FOODS_3_665_CA_1
Progressing: 92.54 %
Currently Running: FOODS_3_465_CA_3
Progressing: 93.28 %
Currently Running: FOODS_3_082_CA_2
Progressing: 94.03 %
Currently Running: FOODS_1_044_CA_4
Progressing: 94.78 %
Currently Running: FOODS_1_075_CA_1
Progressing: 95.52 %
Currently Running: FOODS_1_159_CA_4
Progressing: 96.27 %
Currently Running: FOODS_1_095_CA_2
Progressing: 97.01 %
Currently Running: FOODS_3_059_CA_4
Progressing: 97.76 %
Currently Running: FOODS_3_200_CA_1
Progressing: 98.51 %
Currently Running: FOODS_3_772_CA_4
Progressing: 99.25 %
This line of code took 6.1044287116666665 minutes

In [20]:
df_result_all_params

                 Product  Actual Data  Forecast  Alpha  Beta
0       FOODS_3_470_CA_4          3.0  4.168800   0.05  0.05
1       FOODS_3_470_CA_4          5.0  4.127194   0.05  0.05
2       FOODS_3_470_CA_4          4.0  4.170375   0.05  0.05
3       FOODS_3_470_CA_4          9.0  4.168876   0.05  0.05
4       FOODS_3_470_CA_4          3.0  4.381454   0.05  0.05
...                  ...          ...       ...    ...   ...
347323  FOODS_3_772_CA_4          1.0  1.104869   0.90  0.90
347324  FOODS_3_772_CA_4          0.0  1.010487   0.90  0.90
347325  FOODS_3_772_CA_4          0.0  0.101049   0.90  0.90
347326  FOODS_3_772_CA_4          0.0  0.010105   0.90  0.90
347327  FOODS_3_772_CA_4          0.0  0.001010   0.90  0.90

[347328 rows x 5 columns]

# Summay all metrics

In [21]:
def get_metrics_result_all_params(data):
    metrics_df = {}
    metrics_df['MASE'] = mase_calculation(data['Actual Data'], data['Forecast'])
    metrics_df['WMAPE'] = wmape_calculation(data['Actual Data'], data['Forecast'])
    metrics_df['SMAPE'] = smape_calculation(data['Actual Data'], data['Forecast'])
    metrics_df['MAPE'] = mape_calculation(data['Actual Data'], data['Forecast'])
    metrics_df['MAE'] = mean_absolute_error(data['Actual Data'], data['Forecast'])
    metrics_df['RMSE'] = np.sqrt(mean_squared_error(data['Actual Data'], data['Forecast']))
    return pd.Series(metrics_df)

In [22]:
start = timer()

df_result_metrics_all_params = df_result_all_params.groupby(['Product', 'Alpha', 'Beta']).apply(get_metrics_result_all_params).reset_index()

end = timer()
print('This line of code took {} minutes'.format((end-start) / 60))

This line of code took 1.2488908399999994 minutes

In [23]:
df_result_metrics_all_params

,Product,Alpha,Beta,MASE,WMAPE,SMAPE,MAPE,MAE,RMSE
0,FOODS_1_010_CA_4,0.05,0.05,0.671487,61.3931,77.4099,35.8254,1.151120,1.391805
1,FOODS_1_010_CA_4,0.05,0.10,0.672925,61.5245,78.9319,34.1481,1.153585,1.373856
2,FOODS_1_010_CA_4,0.05,0.15,0.657064,60.0744,78.3213,30.8207,1.126395,1.362207
3,FOODS_1_010_CA_4,0.05,0.20,0.631725,57.7577,75.8777,26.8948,1.082957,1.351727
4,FOODS_1_010_CA_4,0.05,0.25,0.634021,57.9677,77.8316,29.5644,1.086894,1.340357
...,...,...,...,...,...,...,...,...,...
43411,FOODS_3_825_CA_2,0.90,0.70,1.074091,32.4254,34.1985,36.9541,2.148182,2.673688
43412,FOODS_3_825_CA_2,0.90,0.75,1.074090,32.4254,34.1984,36.9541,2.148181,2.673685
43413,FOODS_3_825_CA_2,0.90,0.80,1.074090,32.4254,34.1984,36.9541,2.148181,2.673684
43414,FOODS_3_825_CA_2,0.90,0.85,1.074090,32.4254,34.1984,36.9541,2.148181,2.673684
43415,FOODS_3_825_CA_2,0.90,0.90,1.074090,32.4254,34.1984,36.9541,2.148181,2.673684

# Check what products has unexpected metrics result

In [24]:
df_result_metrics_all_params[df_result_metrics_all_params['MASE'].isin([np.inf, -np.inf, np.nan])]

Empty DataFrame
Columns: [Product, Alpha, Beta, MASE, WMAPE, SMAPE, MAPE, MAE, RMSE]
Index: []

In [25]:
df_result_metrics_all_params[df_result_metrics_all_params['WMAPE'].isin([np.inf, -np.inf, np.nan])]

Empty DataFrame
Columns: [Product, Alpha, Beta, MASE, WMAPE, SMAPE, MAPE, MAE, RMSE]
Index: []

In [26]:
df_result_metrics_all_params[df_result_metrics_all_params['SMAPE'].isin([np.inf, -np.inf, np.nan])]

,Product,Alpha,Beta,MASE,WMAPE,SMAPE,MAPE,MAE,RMSE
12960,FOODS_2_125_CA_4,0.05,0.05,0.480191,109.7580,NaN,100.0000,0.548790,1.417578
12961,FOODS_2_125_CA_4,0.05,0.10,0.520625,119.0000,NaN,100.0000,0.595000,1.426955
12962,FOODS_2_125_CA_4,0.05,0.15,0.558906,127.7500,NaN,100.0000,0.638750,1.441358
12963,FOODS_2_125_CA_4,0.05,0.20,0.595000,136.0000,NaN,100.0000,0.680000,1.459863
12964,FOODS_2_125_CA_4,0.05,0.25,0.628906,143.7500,NaN,100.0000,0.718750,1.481659
...,...,...,...,...,...,...,...,...,...
42115,FOODS_3_806_CA_1,0.90,0.70,1.003044,51.6975,NaN,64.2476,3.295718,5.068135
42116,FOODS_3_806_CA_1,0.90,0.75,0.980773,50.5496,NaN,63.2374,3.222539,4.965833
42117,FOODS_3_806_CA_1,0.90,0.80,0.962384,49.6019,NaN,62.3738,3.162120,4.882464
42118,FOODS_3_806_CA_1,0.90,0.85,0.947491,48.8343,NaN,61.6457,3.113183,4.815187
42119,FOODS_3_806_CA_1,0.90,0.90,0.935703,48.2267,NaN,61.0420,3.074453,4.761246

In [27]:
df_result_metrics_all_params[df_result_metrics_all_params['MAPE'].isin([np.inf, -np.inf, np.nan])]

Empty DataFrame
Columns: [Product, Alpha, Beta, MASE, WMAPE, SMAPE, MAPE, MAE, RMSE]
Index: []

In [28]:
df_result_metrics_all_params[df_result_metrics_all_params['RMSE'].isin([np.inf, -np.inf, np.nan])]

Empty DataFrame
Columns: [Product, Alpha, Beta, MASE, WMAPE, SMAPE, MAPE, MAE, RMSE]
Index: []

In [29]:
df_result_metrics_all_params[df_result_metrics_all_params['MAE'].isin([np.inf, -np.inf, np.nan])]

Empty DataFrame
Columns: [Product, Alpha, Beta, MASE, WMAPE, SMAPE, MAPE, MAE, RMSE]
Index: []

# Metrics Statistics

In [30]:
list_metrics = ['MASE', 'WMAPE', 'SMAPE', 'MAPE', 'MAE', 'RMSE']

In [31]:
for mts in list_metrics:
    print('Percentage of unexpected values of', mts, 'is: {}'.format(df_result_metrics_all_params[df_result_metrics_all_params[mts].isin([np.nan, np.inf, -np.inf])].Product.nunique() / df_result_metrics_all_params.Product.nunique() * 100), "%")

Percentage of unexpected values of MASE is: 0.0 %
Percentage of unexpected values of WMAPE is: 0.0 %
Percentage of unexpected values of SMAPE is: 2.9850746268656714 %
Percentage of unexpected values of MAPE is: 0.0 %
Percentage of unexpected values of MAE is: 0.0 %
Percentage of unexpected values of RMSE is: 0.0 %

### Filter all rows that have unexpected metrics values

In [32]:
df_result_metrics_all_params = df_result_metrics_all_params[~df_result_metrics_all_params.isin([np.nan, np.inf, -np.inf]).any(1)]

# Get MEAN metrics value of each Alpha and Beta

In [33]:
df_result_metrics_all_params.groupby(['Alpha', 'Beta'])['MASE', 'WMAPE', 'SMAPE', 'MAPE', 'MAE', 'RMSE'].mean()

                MASE       WMAPE       SMAPE       MAPE       MAE      RMSE
Alpha Beta
0.05  0.05  2.165461  195.868098  103.390094  95.717817  6.142831  7.261997
      0.10  1.969928  172.899421  101.510154  91.558191  5.925228  7.060395
      0.15  1.818095  156.057019  100.180941  88.506493  5.786296  6.947515
      0.20  1.717381  145.322028   99.409453  87.044290  5.694628  6.873050
      0.25  1.647793  138.207704   98.999003  86.282070  5.634270  6.821880
...              ...         ...         ...        ...       ...       ...
0.90  0.70  1.008073   86.781673  106.063977  75.363541  4.378760  5.947993
      0.75  1.008570   87.176901  106.803468  76.237185  4.384221  5.956053
      0.80  1.009976   87.664714  107.694935  77.245912  4.390983  5.966033
      0.85  1.012094   88.222445  108.721164  78.339842  4.398302  5.978020
      0.90  1.014667   88.816352  109.869190  79.458432  4.405725  5.992094

[324 rows x 6 columns]

In [34]:
for mts in list_metrics:
    print('The optimum Alpha and Beta based on Mean', mts, 'is: {}'.format(df_result_metrics_all_params.groupby(['Alpha', 'Beta'])['MASE', 'WMAPE', 'SMAPE', 'MAPE', 'MAE', 'RMSE'].mean()[mts].idxmin()))

The optimum Alpha and Beta based on Mean MASE is: (0.75, 0.7)
The optimum Alpha and Beta based on Mean WMAPE is: (0.8, 0.5)
The optimum Alpha and Beta based on Mean SMAPE is: (0.3, 0.25)
The optimum Alpha and Beta based on Mean MAPE is: (0.65, 0.05)
The optimum Alpha and Beta based on Mean MAE is: (0.4, 0.65)
The optimum Alpha and Beta based on Mean RMSE is: (0.45, 0.6)

# Get MEDIAN metrics value of each Alpha and Beta

In [35]:
df_result_metrics_all_params.groupby(['Alpha', 'Beta'])['MASE', 'WMAPE', 'SMAPE', 'MAPE', 'MAE', 'RMSE'].median()

                MASE     WMAPE     SMAPE      MAPE       MAE      RMSE
Alpha Beta
0.05  0.05  1.021092  77.82690  91.32695  60.98165  3.170066  3.648742
      0.10  1.041015  77.14015  88.22745  61.32950  2.911238  3.662611
      0.15  0.985106  78.77060  87.64940  64.14850  2.862644  3.557369
      0.20  0.991340  78.20130  86.36725  64.83035  2.731829  3.499809
      0.25  0.985817  79.47405  84.41240  65.58315  2.696497  3.505359
...              ...       ...       ...       ...       ...       ...
0.90  0.70  0.918555  80.17505  88.26965  71.47595  2.325708  3.325481
      0.75  0.924962  79.75955  89.94725  71.76240  2.359633  3.321699
      0.80  0.932631  79.75955  92.36430  73.55435  2.401181  3.318443
      0.85  0.934233  79.75955  95.10375  74.13270  2.443241  3.316009
      0.90  0.934347  79.75955  96.67785  74.76415  2.485246  3.314322

[324 rows x 6 columns]

In [36]:
for mts in list_metrics:
    print('The optimum Alpha and Beta based on Median of', mts, 'is: {}'.format(df_result_metrics_all_params.groupby(['Alpha', 'Beta'])['MASE', 'WMAPE', 'SMAPE', 'MAPE', 'MAE', 'RMSE'].median()[mts].idxmin()))

The optimum Alpha and Beta based on Median of MASE is: (0.4, 0.15)
The optimum Alpha and Beta based on Median of WMAPE is: (0.45, 0.05)
The optimum Alpha and Beta based on Median of SMAPE is: (0.3, 0.25)
The optimum Alpha and Beta based on Median of MAPE is: (0.2, 0.05)
The optimum Alpha and Beta based on Median of MAE is: (0.4, 0.35)
The optimum Alpha and Beta based on Median of RMSE is: (0.35, 0.15)

# Run Croston TSB model after decide best paramaters

In [37]:
best_alpha = 0.65
best_beta = 0.05

In [38]:
start = timer()

df_result_best_params = pd.DataFrame()
for product in list_pattern_py:
    train_product = train_data[product]
    test_product = test_data[product]
    predictions = list()
    history = [x for x in train_product[num_train_needed*-1:]]
    for t in test_product.index.tolist():
        yhat = Croston_TSB(history, extra_periods=1, alpha=best_alpha, beta = best_beta)['Forecast'].iloc[-1]
        predictions.append(yhat)
        history.append(test_product[t])
    df_result_temp = pd.DataFrame({'Product': [product for count in range(len(test_product))],
                                    'Actual Data': test_product,
                                    'Forecast': predictions})
    df_result_best_params = df_result_best_params.append(df_result_temp, ignore_index=True)
    
end = timer()
print('This line of code took {} minutes'.format((end-start) / 60))

This line of code took 0.0102669366666665 minutes

In [39]:
df_result_best_params

              Product  Actual Data   Forecast
0    FOODS_1_005_CA_1          4.0   9.536636
1    FOODS_1_005_CA_1          6.0   5.477505
2    FOODS_1_015_CA_1          2.0   0.742225
3    FOODS_1_015_CA_1          0.0   1.170233
4    FOODS_1_027_CA_1         15.0  12.924575
..                ...          ...        ...
785  FOODS_3_800_CA_4          3.0   7.595611
786  FOODS_3_815_CA_4          0.0   0.932952
787  FOODS_3_815_CA_4          0.0   0.886304
788  FOODS_3_827_CA_4          0.0   0.000000
789  FOODS_3_827_CA_4          0.0   0.000000

[790 rows x 3 columns]

In [40]:
df_result_final = df_result_best_params.groupby('Product').apply(get_metrics_result_all_params).reset_index()

In [41]:
df_result_final

,Product,MASE,WMAPE,SMAPE,MAPE,MAE,RMSE
0,FOODS_1_005_CA_1,1.514783,60.5913,45.4535,73.5621,3.029566,3.932387
1,FOODS_1_008_CA_2,inf,inf,200.0000,NaN,0.004858,0.004860
2,FOODS_1_010_CA_2,inf,33.4342,41.4886,33.4342,0.334342,0.356675
3,FOODS_1_010_CA_4,1.849195,369.8391,139.1905,128.8960,1.849195,1.932198
4,FOODS_1_015_CA_1,0.607002,121.4004,145.8669,62.8887,1.214004,1.214793
...,...,...,...,...,...,...,...
390,FOODS_3_815_CA_4,inf,inf,200.0000,NaN,0.909628,0.909927
391,FOODS_3_816_CA_2,inf,inf,200.0000,NaN,2.042829,2.043500
392,FOODS_3_824_CA_3,1.843187,368.6373,150.1775,201.4249,3.686373,3.702215
393,FOODS_3_825_CA_2,0.713257,53.4943,59.9264,47.9518,4.279541,5.018349
394,FOODS_3_827_CA_4,NaN,NaN,NaN,NaN,0.000000,0.000000

In [42]:
df_result_final.isnull().sum()

Product      0
MASE        76
WMAPE       76
SMAPE       76
MAPE       158
MAE          0
RMSE         0
dtype: int64

In [43]:
df_result_final.MAPE.mean()

74.82172067510547

In [44]:
df_result_final.to_csv('Croston_TSB_Lumpy_Metrics.csv')